!!!
%html
  %head
    %title Event logger
    %meta{content:"width=device-width, initial-scale=1.0", name:"viewport"}
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
    = stylesheet_link_tag    "event_logger/application", :media => "all"
    = javascript_include_tag "event_logger/application"
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default.navbar-fixed-top{role:"navigation"}
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li=link_to "one", "/two"
      - if notice
        .row
          .col-md-12
            .alert.alert-info=notice
      - if alert
        .row
          .col-md-12
            .alert.alert-danger=alert
      = yield